[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plac = ">=1.4.5"
requests = ">=2.32.5"
validators = ">=0.35.0"

[dev-packages]
"flake8" = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.13"
